doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://openlayers.org/en/v4.0.1/css/ol.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL')
    script(src='https://openlayers.org/en/v4.0.1/build/ol.js')
  body
    block content
